:root {
    --base: rgba(72, 116, 133, 0.5);
    --lite: rgba(72, 116, 133, 1.0);
    --c_text: rgb(109, 236, 255);
    --d_text: rgb(77, 171, 185);
    text-rendering: optimizeLegibility;
}


body,
html {
    background-color: #282c34;
}

body {
    margin: 0;
    font-family: -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.deferred {
    display: none !important;
}

.App {
    text-align: center;
    background-color: var(--base);
    position: relative;
}

.App-content {
    /* border: 2px black solid; */
    display: flex;
    flex-direction: row;
    flex-basis: 1 auto;
    width: 90vw;
    height: 90vh;
    max-height: 90vh;
    /* width:100vw; */
}

.App-content-column-one {
    position: relative;
    flex: 1;
    /* border: 2px red solid; */
    /* height: min-content; */
    /* min-height:64px; */
}

.App-content-column-two {
    position: relative;
    text-align: left;
    padding: 0 6px;
    width: 30vw;
    /* border: 2px red solid; */
    /* min-height:64px; */
}

.App-Node-List {
    width: 100%;
}

.App-History-List,
.App-Node-List {
    /* box-sizing: border-box; */
    position: absolute;

    height: 100%;
    overflow-y: scroll;
}

.mini-text {
    font-size: 60%;
}

.mini-text.text-dark {
    color: var(--c_text);
}

.mini-text.text-darker {
    color: var(--d_text);
}

a.mini-text {
    text-decoration: none;
    color: white;
}

.has-click {
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    /* text-decoration: underline;
text-decoration-style: dotted; */

    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

.has-click:hover {
    opacity: 1.0;
    background-color: var(--lite);
}


.delta-item {
    /* color:gray; */
    font-size: 50%;
    overflow: hidden;
    padding: 3px;
}

.delta-item-detail {
    width: inherit;
    font-size: 150%;
    text-overflow: ellipsis;
}

.delta-item-detail-fine {
    white-space: pre;
}

.delta-item-reveal {
    background-color: var(--lite);
}

.node {
    /* margin: 8px 0 8px; */
    /* margin: 8px 0 8px 12px; */
    /* margin-left: 12px; */
    /* padding-left:16px; */
    padding: 1px 0;
    z-index: 20;
    position: relative;
    width: 100%;
    /* background-color: rgba(0,0,0,0.4); */
}



.node-content {
    display: flex;
    flex-direction: row;
    flex-basis: 1 26px;
    background-color: var(--base);
    border-radius: 8px;

}

.left {
    vertical-align: middle;
    text-align: center;
    border-radius: 8px 0 0 8px;
    background-color: rgba(34, 55, 63, 0.5);

    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;

}

.center {
    text-align: left;
    flex: 1;
}

.right {
    border-radius: 0 8px 8px 0;
    background-color: rgba(72, 116, 133, 0.5);
}

.left,
.center,
.right {
    box-sizing: border-box;
    border: 1px var(--lite) solid;
}

.info-label {
    opacity: 0.7;
    margin-top: -6px;
    margin-bottom: 4px;
}

.field {
    position: relative;
    z-index: 2;
}

.field input {
    position: relative;
    width: 100%;
    outline: none;
    background: none;
    border: none;

    color: white;
    font-size: 100%;
    z-index: 6;
}

.field .baseline {
    position: absolute;
    font-size: 125%;
    border-bottom: 1px rgba(72, 116, 133, 0.75) solid;
    bottom: 0.2em;
    width: 100%;
    z-index: 4;
}

.node-drop {
    padding-top: 1px;
    margin-bottom: -1px;
    border-radius: 8px;
    /* border: 1px red solid; */
}

.node,
.node-drop {
    box-sizing: border-box;
}


.placeholder {
    /* border-top: 6px white dotted; */
    top: 0;
    z-index: 10;
    position: absolute;
    background-color: yellow;
    height: 4px;
    width: 100vw;

    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}



.placeholder-lite .left {
    background-color: yellow;
    /* box-sizing: border-box;
border: 2px white dotted; */
}

.node-reveal.left {
    background-color: rgba(172, 255, 47, 0.479);
}

.App-test {
    margin-left: 32px;
}

.App-el {
    box-sizing: border-box;
    /* border: 1px red solid; */
    margin: 8px;
}

.App-el-moving {
    opacity: 0.5;
}

.App-logo {
    vertical-align: middle;
    display: inline;
    height: 12px;
    pointer-events: none;
}

@media (prefers-reduced-motion) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(6px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.small-text {
    font-size: 75%;
}

.inline-button {
    display: inline-block;
    width: auto !important;
    cursor: pointer;
    background-color: rgba(72, 116, 133, 0.35);
    border-radius: 8px;
    padding: 6px;
    margin: 0 4px;
    color: #61dafb;
    outline: none;
    border: none;
}

.inline-button:hover {
    background-color: rgba(72, 116, 133, 0.5);
    color: #a9ecff;
}


.App-container {
    width: 75%;
}

.word-box {
    background-color: rgba(72, 116, 133, 0.35);
    border-radius: 8px;
    width: 100%;
    /* padding:8px; */
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    flex-basis: 1 26px;

}

.word-box .field {
    position: relative;
    z-index: 2;
}

.word-box .field input {
    position: relative;
    width: 100%;
    outline: none;
    background: none;
    border: none;

    color: white;
    font-size: 125%;
    z-index: 6;
}

.word-box .field .baseline {
    position: absolute;
    font-size: 125%;
    border-bottom: 1px rgba(72, 116, 133, 0.75) solid;
    bottom: 0.2em;
    width: 100%;
    z-index: 4;
}

.word-box-main {
    flex: 1;
    text-align: left;
}

.word-box-right {
    background-color: rgba(72, 116, 133, 0.5);
    border-radius: 0 8px 8px 0;
}

.word-box-main,
.word-box-right {
    padding: 6px;
}

.word-box-main .label {
    font-size: 50%;
}

.word-box-main .history {
    color: #61dafb;
}



.injected-svg {
    cursor: pointer;
    display: block;
    width: 16px;
}

.injected-svg g {
    fill: #61dafb;
}

.injected-svg:hover g {
    fill: #a9ecff;
}